'.source.latino':
  'si conditional':
    'prefix': 'si',
    'body': 'si ${1:condicion}\n\t${2:#codigo}\nfin'
  'osi conditional':
    'prefix': 'osi',
    'body': 'osi ${1:condicion}\n\t${2:#código}\n'
  'si sino conditional':
    'prefix': 'sn',
    'body': 'si ${1:condicion}\n\t${2:#codigo}\nsino\n\t${3:#codigo}\nfin'
  'ciclo mientras':
    'prefix': 'mientras'
    'body': 'mientras ${1:condicion}\n\t${2:#codigo}\nfin'
  'ciclo repetir':
    'prefix': 'repetir'
    'body': 'repetir\n\t${2:#codigo}\nhasta ${1:condicion}'
  'ciclo desde':
    'prefix': 'desde'
    'body': 'desde (${1:inicio}; ${2:condicion}; ${3:incremento})\n\t${4:#body}\nfin'
  'funcion':
    'prefix': 'fun'
    'body': 'funcion ${1:nombre_funcion} (${2:argumentos})\n\t${3:#codigo}\nfin'
  'retorno':
    'prefix': 'ret'
    'body': 'retorno ${1:valor}'
  'escribir':
    'prefix': 'esc'
    'body': 'escribir("${1:mensaje}")'
  'imprimir':
    'prefix': 'imp'
    'body': 'imprimir("${1:mensaje}")'
  'incluir':
    'prefix': 'inc'
    'body': 'incluir("${1:modulo}")'
