'.source.latino':
  'editor':
    'commentStart': '#'
    'increaseIndentPattern': '\\b(si|sino|elegir|defecto|mientras|repetir|global|desde|funcion|fun|osi)\\b((?!fin).)*$|\\{\\s*$'
    'decreaseIndentPattern': '^\\s*(fin|sino|osi,?|\\}\\)?).*$'
