'.source.latino':
  'editor':
    'commentStart': '#'
    'increaseIndentPattern': '\\b(caso|si|sino|elegir|defecto|mientras|repetir|desde|funcion|fun|osi)\\b((?!fin).)*$|\\{\\s*$'
    'decreaseIndentPattern': '^\\s*(caso|fin|sino|osi,?|\\}\\)?).*$'
